.booking-process {
    padding: 60px 0;
}

.booking-process h2 {
    position: relative;
    font-size: 42px;
    font-family: Dancing Script;
    background: -webkit-linear-gradient(#ffffff, #C9723F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.booking-process span {
    color: #212121e4;
    font-size: 78px;
    font-weight: 700;
    margin-left: -50px;
}

.step {
    margin-bottom: 30px;
}

.icon {
    margin-bottom: 15px;
}

.icon img {
    width: 80px;
    height: 80px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
}

p {
    font-size: 16px;
    color: #666;
}

@media (min-width: 768px) {
    .booking-process h2 {
        font-size: 72px;
    }

    .booking-process span {
        font-size: 88px;

    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}