.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    background-image: url('../images/hero-2.svg') ;
}
.landing-page .logo{
    width: 80px;
}
.landing-page p{
    font-family: Inter;
    margin-bottom: -230px;
    color: #2195f380;
    font-size: 200px;
    font-weight: 700;
    z-index: 1;
}
.landing-page h1{
    font-family: Inter;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.landing-page button{
    border: none;
    border-radius: 30px;
    padding: 12px 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #2196F3;
}